.ItemList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Expenses {
  max-width: fit-content;
  margin: 0 auto;
}

.ExpensesTitle {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--text-color);
  margin-bottom: 1rem;
}
